.navbar {
    margin-top: 1%;
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: transparent !important;
    color: #000 !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 10%;
    margin-left: 10%;
    /* margin-top: 5%; */
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


.navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 1);
    margin-top: 4%;
    border-color: rgba(0, 0, 0, 1);
    margin-right: 5%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.99);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.99);
}

@media screen and (min-width: 992px) {
    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar .nav-item {
        /*padding: .5rem .5rem;*/
        /*margin-left: 4%;*/
        max-width: 200px;
    }

    .navbar .dropdown {
        position: static;
    }

    .navbar .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
        /*  height of nav-item  */
        top: 45px;

        display: block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;

    }


    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .navbar .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, .15);
        background-color: #fff;
    }

}

