body {
    background-image: url("cart.jpg");
    /*background-repeat: no-repeat;*/
    /*background-size: 1300px ;*/
    /*z-index: 0;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 500px) {
    body {
        background-image: url("car-mob.jpg");
    }
}

.cart {
    /*margin-top:4%;*/
    /*margin-bottom: 4%;*/
    /*z-index: 0;*/
    /*border-radius:8px;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*max-width: 1366px;*/
    /*max-height: 667px;*/
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 247, 247, 0.5);
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


.button {
    /*float: left;*/
    min-width: 120px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 0.5em 2em;
    border: none;
    font-weight: bold;
    font-family: 'Biryani';
    background: none;
    color: #1f1d1d;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}


/* hover-effect */
.button-hover-effect {
    overflow: hidden;
    padding: 0;
    -webkit-transition: border-color 0.3s, background-color 0.3s;
    transition: border-color 0.3s, background-color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.6, 1, 0.6, 1);
}

.button-hover-effect::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    color: #e3dcdc;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 50%, 0);
}

.button-hover-effect > span {
    display: block;
}

.button-hover-effect::after,
.button-hover-effect > span {
    padding: 1em 2em;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.6s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-hover-effect:hover {
    background-color: rgba(208, 17, 17, 0.3);
}

/*.button-hover-effect.button-inverted:hover {*/
/*    border-color: #21333C;*/
/*    background-color: #21333C;*/
/*}*/

.button-hover-effect:hover::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button-hover-effect:hover > span {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}


.button-upper {
    padding: 0 2em;
    overflow: hidden;
    background: #e89494;
    border-radius: 10px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.button-upper > span {
    display: inline-block;
    padding: 0.5em 0;
}

.button-upper:hover {
    background-color: #d23333;
}

.button-upper:hover > span:nth-child(odd) {
    -webkit-animation: anim-upper-1 0.5s forwards;
    animation: anim-upper-1 0.5s forwards;
}

.button-upper:hover > span:nth-child(even) {
    -webkit-animation: anim-upper-2 0.5s forwards;
    animation: anim-upper-2 0.5s forwards;
}

.button-upper:hover > span:nth-child(odd),
.button-upper:hover > span:nth-child(even) {
    -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-animation-function: cubic-bezier(0.75, 0, 0.125, 1);
}

@-webkit-keyframes anim-upper-1 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@keyframes anim-upper-1 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@-webkit-keyframes anim-upper-2 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@keyframes anim-upper-2 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

.button-upper:hover > span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.button-upper:hover > span:nth-child(2) {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.button-upper:hover > span:nth-child(3) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.button-upper:hover > span:nth-child(4) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.button-upper:hover > span:nth-child(5) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.button-upper:hover > span:nth-child(6) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.button-upper:hover > span:nth-child(7) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.button-upper:hover > span:nth-child(8) {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

.button-upper:hover > span:nth-child(9) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.button-upper:hover > span:nth-child(10) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.button-upper:hover > span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.small-text {
    font-size: 12px;
    color: aliceblue;
    font-family: 'Mina'

}


.footer-text {
    position: absolute;
    bottom: 30px;
    width: 100%;
    color: #ffffff;
    margin-left: 7%;
    text-align: left
}

.ani {
    /*width: 100px;*/
    /*height: 50px;*/
    font-weight: bold;
    position: relative;
    animation: mymove 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    from {
        left: -100px;
    }
    to {
        left: 0px;
    }
}


.search {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.input {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 30px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search:hover {
    width: 200px;
    cursor: pointer;
}

.search:hover .input {
    display: block;
}

.search:hover .fa {
    background: #07051a;
    color: white;
}

.yoogge_head {
    font-size: 55px;
    color: aliceblue;
    font-family: 'Aldrich'
}

.logo {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.reveal span {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.reveal span::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    animation: a-ltr-after 1s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(-101%);
}

.reveal span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*background: var(-bg-color);*/
    animation: a-ltr-before 1s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(0);
}

.reveal span:nth-of-type(1)::before,
.reveal span:nth-of-type(1)::after {
    animation-delay: 0s;
}

.reveal span:nth-of-type(2)::before,
.reveal span:nth-of-type(2)::after {
    animation-delay: 0s;
}

@keyframes a-ltr-after {
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(101%)
    }
}

@keyframes a-ltr-before {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(200%)
    }
}

